<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Product List</title>
</head>
<body layout:fragment="content">
    <div class="row">
        <div class="col-md-12">
            <nav class="navbar navbar-light">
                <div class="container-fluid">
                    <h1>My Product List</h1>
                    <form class="d-flex" th:action="@{/products/list}" method="get">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                </div>
            </nav>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="card col-sm-3 " th:each="product : ${products}">
            <img th:alt="${product.name}" class="card-img-top mt-2" th:src="@{/Images/{imageName}(imageName=${product.imageUrl})}">
            <div class="card-body">
                <h5 class="card-title" th:text="${product.name}">Card title</h5>
                <p class="card-text" th:text="${product.description}"></p>
                <p class="card-text"><strong>Price: </strong><span th:text="${product.price}"></span></p>
                <p class="card-text"><strong>Stock Quantity: </strong><span th:text="${product.stockQuantity}"></span></p>
                <a class="btn btn-primary" th:href="@{'/products/' + ${product.id}}">Xem chi tiết</a>
            </div>
        </div>
    </div>
    <!-- Pagination -->
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center mt-4">
            <li class="page-item" th:class="${products.first ? 'disabled' : ''}">
                <a class="page-link" th:href="@{/products/list(page=0)}">First</a>
            </li>
            <li class="page-item" th:class="${products.first ? 'disabled' : ''}">
                <a class="page-link" th:href="@{/products/list(page=${products.number - 1})}">Previous</a>
            </li>
            <li class="page-item" th:each="pageNumber : ${#numbers.sequence(0, products.totalPages - 1)}" th:class="${pageNumber == products.number ? 'active' : ''}">
                <a class="page-link" th:href="@{/products/list(page=${pageNumber})}" th:text="${pageNumber + 1}"></a>
            </li>
            <li class="page-item" th:class="${products.last ? 'disabled' : ''}">
                <a class="page-link" th:href="@{/products/list(page=${products.number + 1})}">Next</a>
            </li>
            <li class="page-item" th:class="${products.last ? 'disabled' : ''}">
                <a class="page-link" th:href="@{/products/list(page=${products.totalPages - 1})}">Last</a>
            </li>
        </ul>
    </nav>


</body>
</html>
