<!DOCTYPE html>
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>My App</title>
    <link th:fragment="link-css" rel="stylesheet"
          th:href="@{/css/bootstrap.min.css}">
    <link th:fragment="custom-css" rel="stylesheet"
          th:href="@{/style.css}">
    <link
            crossorigin="anonymous"
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
            integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
            rel="stylesheet"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link th:href="@{/style.css}" rel="stylesheet" type="text/css">
</head>
<body class="d-flex flex-column h-100">
<header>
    <div class="header-row">
        <div class="left">
            <div class="d-flex ">
                <img alt="Logo" class="logo" th:src="@{/public/logo-1@2x.png}"/>
                <div class="right navigation  d-flex justify-content-center">
                    <a href="/home">Trang Chủ</a>
                    <li class="nav-item" sec:authorize="hasAnyAuthority('ADMIN', 'USER')">
                        <a class="nav-link" href="/products/list">
                            Sản phẩm
                        </a>
                    </li>
                    <li class="nav-item" sec:authorize="hasAnyAuthority('ADMIN', 'USER')">
                        <a class="nav-link" href="/cart">
                            Giỏ Hàng
                        </a>
                    </li>
                    <li class="nav-item"
                        sec:authorize="hasAnyAuthority('ADMIN')">
                        <a class="nav-link" href="/products/admin">
                            Product
                        </a>
                    </li>
                    <li class="nav-item"
                        sec:authorize="hasAnyAuthority('ADMIN')">
                        <a class="nav-link" href="/categories">
                            Categories
                        </a>
                    </li>
                </div>
            </div>
        </div>
        <div class="right">
                <div class="right">
                    <a class="nav-link" href="/cart">
                        <img alt="Cart Icon" th:src="@{/public/-icon-cart.svg}"/>
                    </a>
                    <a sec:authorize="!isAuthenticated()" href="/login" class="btn btn-info">
                        Đăng Nhập
                    </a>
                    <div class="dropdown" sec:authorize="isAuthenticated()">
                        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <span class="navbar-text text-white">
                             Xin chào, <span sec:authentication="name" style="margin-right: 20px;"></span>
                             </span>
                        </button>
                        <ul class="dropdown-menu" sec:authorize="isAuthenticated()">
                            <li><a class="dropdown-item" th:href="@{'/profiles/' + ${#authentication.name}}">Profile</a></li>
                            <li >
                                <form th:action="@{/logout}" method="post">
                                    <button class="btn btn-outline-danger" type="submit">Logout</button>
                                </form>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<div >
    <div layout:fragment="content"></div>
</div>
<footer style="margin-top: 100px">
    <div class="footer-container">
        <div class="footer-section">
            <h3>Về Chúng Tôi</h3>
            <a href="#">Giới Thiệu</a>
            <a href="#">Điều Khoản Sử Dụng</a>
            <a href="#">Chính Sách Bảo Mật</a>
        </div>
        <div class="footer-section">
            <h3>Hỗ Trợ</h3>
            <a href="#">Câu Hỏi Thường Gặp</a>
            <a href="#">Liên Hệ Hỗ Trợ</a>
            <a href="#">Hướng Dẫn Sử Dụng</a>
        </div>
        <div class="footer-section">
            <h3>Theo Dõi Chúng Tôi</h3>
            <div class="social-media-footer d-flex justify-content-center">
                <a href="#"
                ><img
                        alt="Facebook"
                        th:src="@{/public/iconmediasocialfacebookfreevector-1@2x.png}"
                /></a>
                <a href="#"
                ><img
                        alt="Zalo"
                        th:src="@{/public/82532235b1c99e391706a9c6e396aeaa-1@2x.png}"
                /></a>
                <a href="#"
                ><img
                        alt="Instagram"
                        th:src="@{/public/iconmediasocialinstagramfreevector-1@2x.png}"
                /></a>
            </div>
        </div>
    </div>
    <div class="footer-bottom " >
        <p>&copy; 2024 Musical. All rights reserved.</p>
    </div>
</footer>
<script
        crossorigin="anonymous"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
></script>
<script
        crossorigin="anonymous"
        integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
></script>
</body>
</html>
