<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}" lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ỨNG DỤNG BUÔN NHẠC XUYÊN QUỐC GIA</title>
</head>
<body layout:fragment="content">
<div class="container">
  <div>
    <div class="carousel slide" id="carouselExample">
      <div class="carousel-inner">

        <div class="carousel-item active">
          <img
                  alt="..."
                  class="d-block w-100"
                  src="https://vietthuong.vn/image/catalog/Baner/2024/chuong-trinh-kmt07-home.png"
                  style=" height: 550px"
          />
        </div>
        <div class="carousel-item">
          <img alt="..." class="d-block w-100" src="..."/>
        </div>
        <div class="carousel-item">
          <img alt="..." class="d-block w-100" src="..."/>
        </div>
      </div>
      <button
              class="carousel-control-prev"
              data-bs-slide="prev"
              data-bs-target="#carouselExample"
              type="button"
      >
        <span aria-hidden="true" class="carousel-control-prev-icon"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
              class="carousel-control-next"
              data-bs-slide="next"
              data-bs-target="#carouselExample"
              type="button"
      >
        <span aria-hidden="true" class="carousel-control-next-icon"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>

  <div>
    <img alt="" class="line-cut" th:src="@{/public/linecut.png}"/>
  </div>

  <div class="d-flex m-2 p-2 justify-content-center">
    <!-- Vòng lặp để chỉ hiển thị 3 sản phẩm đầu tiên dưới dạng các thẻ card -->
    <div th:each="product, iterStat : ${products}" th:if="${iterStat.index < 3}" class="card" style="width: 18rem;">
      <img th:alt="${product.name}" class="card-img-top mt-2" th:src="@{/Images/{imageName}(imageName=${product.imageUrl})}">
      <div class="card-body">
        <h5 class="card-title" th:text="${product.name}"></h5>
        <p class="card-text" th:text="${product.description}"></p>
        <p class="card-text"><strong>Price: </strong><span th:text="${product.price}"></span></p>
        <p class="card-text"><strong>Stock Quantity: </strong><span th:text="${product.stockQuantity}"></span></p>
        <a class="btn btn-primary" th:href="@{'/products/' + ${product.id}}">Xem chi tiết</a>
      </div>
    </div>
  </div>
  <div class="d-flex m-2 p-2 justify-content-center">
    <a href="/products/list" class="btn btn-outline-success"> Tất cả sản phẩm</a>
  </div>

<!--  <div class="d-flex m-2 p-2 justify-content-center">-->
<!--    <div class="card" style="width: 18rem;">-->
<!--      <img alt="..." class="card-img-top" th:src="@{/public/card-image-1.png}">-->
<!--      <div class="card-body">-->
<!--        <h5 class="card-title">Card title</h5>-->
<!--        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's-->
<!--          content.</p>-->
<!--        <a class="btn btn-primary" href="#">Go somewhere</a>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="card" style="width: 18rem;">-->
<!--      <img alt="..." class="card-img-top" th:src="@{/public/card-image-2.png}">-->
<!--      <div class="card-body">-->
<!--        <h5 class="card-title">Card title</h5>-->
<!--        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's-->
<!--          content.</p>-->
<!--        <a class="btn btn-primary" href="#">Go somewhere</a>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="card" style="width: 18rem;">-->
<!--      <img alt="..." class="card-img-top" th:src="@{/public/card-image-3.png}">-->
<!--      <div class="card-body">-->
<!--        <h5 class="card-title">Card title</h5>-->
<!--        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's-->
<!--          content.</p>-->
<!--        <a class="btn btn-primary" href="#">Go somewhere</a>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->

</div>
</body>
</html>
